@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, cupcake;
}

a.active {
  @apply underline;
}

.rammetto-font {
  font-family: "Rammetto One", sans-serif;
  font-style: normal;
}
